.page_active {
    background-color: lightgray !important;
}

/* 페이지 로딩 */
.wrap-loading{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    /* background: #333333; */
    background:rgba(0,0,0,0.5);
    z-index : 100;
}

.wrap-loading div{
position: fixed;
top:50%;
left:50%;
margin-left: -21px;
margin-top: -21px;
}

.display-none{
    display:none;
}

/* custom */
#bradcam_area{
    height: 500px;
}

.myservice_area{
    height: 400px;
}

#myform-control{
    height: 50px;
    border-color: #212529;
    font-size: 13px;
    color: #999999;
    padding-left: 20px;
    border-radius: 0;
    border-right: 0;
    border: 5px solid #212529;
}

#mybtn{
    background: #fff;
    border-left: 0;
    border: 5px solid #212529;
    padding: 4px 15px;
    border-left: 0;
}
