{% extends "base.html" %}

{% block title %}
기사 검색 & 키워드 트렌드 시각화
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
                </style>
                <div class="bradcam_text text-center">
                    <h3>키워드 트렌드</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <h3># 그래프</h3>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
{% endblock %}