{% extends "base.html" %}

{% block title %}
기사 분석
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text text-center">
                    <h3># 기사 분석</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area single-post-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <div class="single-post">
                    <div class="blog_details">
                        <!-- <h2>{{ post.article_title }}</h2>
                        <p class="excert">
                            {{ post.article_content }}
                        </p> -->
                        <img id="wordCloud" src="{{wordcloud}}" alt="" style="width:600px;">
                        
                                                    <div>
                                                        <table id="wordcount" class="table table-bordered text-center">
                                                            <thead class="text-center">
                                                                <tr>
                                                                    <th width=10%>구분</th>
                                                                    <th width=80%>단어</th>
                                                                    <th width=10%>빈도</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for value in count %}
                                                                <tr>
                                                                    <td>{{forloop.counter}}</td>
                                                                    <td>{{value.0}}</td>
                                                                    <td>{{value.1}}</td>
                                                                </tr>    
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>

                    </div>
                    <!-- <button id="btn" >table뿌리기</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
