{% extends "base.html" %}

{% block title %}
기사 검색 & 키워드 트렌드 시각화
{% endblock %}

{% block content %}
<div class="bradcam_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <style>
                    @import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
                </style>
                <div class="bradcam_text text-center">
                    <h3>키워드 트렌드</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <h3># 그래프</h3>
            </div>
            <div style="width: 400px; height: 400px;">
                <canvas id="myChart" width="400px" height="400px"></canvas>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}